.hotel-div{
width: 75%;
margin:auto;
font-family: cabin, sans-serif;
}

.headers{
  text-align: center;
}

h1{
  font-size: 1.5em;
  background-color: #11294f;
  border-radius: 5px;
  padding: 1em 2em;
  color: white;
}
h3{
  font-size: 1.25em;
  color: #f5896f;
}

p{
  text-align: center;
  line-height: 1em;
  font-family: cabin, sans-serif;
}

.info{
  border: 1px solid #f5896f;
  border-radius: 5px;
}
