/*Font color : #f5896f;ballet
/*navy=#11294f*/
/*coral= #FF6961*/
/*blue= #B2D8D9*/

.headers{
  width: 70%;
  margin:auto;
  margin-top: 20px;
  padding: 15px 15px;
}

h1.headers{
  background-color: #04395E;
  color: white;
}

h3.headers{
  color: #FF6961;
}

.content a{
  color: #FF6961;
  text-decoration: none;
}

/*.hotel-div{
width: 75%;
margin:auto;
font-family: cabin, sans-serif;
}

.headers{
  text-align: center;
}

h1{
  font-size: 1.5em;
  background-color: #11294f;
  border-radius: 5px;
  padding: 1.5em 2.5em;
  color: white;
}
h3{
  font-size: 1.5em;
  color: #f5896f;
}

p{
  text-align: center;
  line-height: 1.25em;
  font-family: cabin, sans-serif;
}

.info{
  border: 1px solid #f5896f;
  border-radius: 5px;
}

#phone{
  text-align: center;
  margin: 0 auto;
  width: 60%;
  font-family: cabin, sans-serif;
  padding-bottom: 1em;
}

#phone a{
  text-decoration: none;
  color: #696969;
}

@media (max-width: 600px) {
  h1{
    font-size: 1.25em;
  }
  h3{
    font-size: 1.1em;
  }
  }

*/
