/*navy=#11294f*/
/*coral= #FF6961*/
/*blue= #B2D8D9*/
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,700|Hind:400,500,700);

*{
  font-family: Cabin;
}

body {
	margin: 0;
}

.content{
  width: 80%;
  margin:auto;
  text-align: center;
  color: #8F8F8F;
}
.wrapper{
  position: relative;
}

.hero-img{
  text-align: center;
  width: 100%;
  background-color: #B2D8D9;
  margin: 0px;
  color: white;
}

.hero-img img{
  width: 20%;
  height: auto;
  margin-bottom: 3%;
}

.hero-img h1{
  margin-top: 0px;
  padding-top: 0.5em;
  font-size: 3.5em;
}

.nav-bar{
    border: solid 2px #FF6961;
    color: #FF6961;
    font-size: 2em;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #FF6961 ;
		box-sizing: border-box;
}

.nav-bar a{
  display: inline-block;
  margin: 3px;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.index{
  color: #FF6961;
  text-align: center;
}

#credit{
  color: black;
  font-size: .5em;
  bottom: 1px;
  margin-top: 300px;
}

@media (max-width: 1075px) {
  .hero-img img{
    margin-bottom: 4%;
  }
}

@media (max-width: 859px) {
  .hero-img img{
    margin-bottom: 4.5%;
    width: 25%;
  }
}

@media (max-width: 766px) {
  .hero-img img{
    margin-bottom: 5%;
    width: 30%;
  }
  .nav-bar{
    font-size: 1.5em;
  }
}

@media (max-width: 650px) {
  .hero-img img{
    margin-bottom: 10%;
    width: 40%;
  }

  .hero-img h1{
    font-size: 2em;
  }

  .nav-bar a{
    font-size: 1em;
   padding-left: 50px;
   padding-right: 50px;
  }
}

@media (max-width: 586px) {

  .nav-bar a{
    font-size: 1em;
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media (max-width: 480px) {
  .hero-img img{
    margin-bottom: 15%;
    width: 30%;
  }

  .hero-img h1{
    font-size: 2em;
  }

  .nav-bar a{
    font-size: .9em;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 441px) {

  .hero-img h1{
    font-size: 2em;
  }

  .nav-bar a{
    font-size: .8em;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*img{
  float: right;
  width: 60%;
  display: inline-block;
  padding-right: 3em;
}*/
/*
.side-bar{
  margin-top: 4.5em;
  margin-left: 1.25em;
  float: left;
  width: 25%;
  display: inline-block;
}

a{
  font-family: cabin, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  border-radius: 5px;
  padding: 2em 3em;
  background-color: #11294f;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 2em;
}

@-ms-viewport{
  width: ;
}

@media (max-width: 600px) {
  .side-bar{
    display: block;
    margin-top: 2.5em;
    width: 94%;
    margin: 0 auto;
    padding: 3%;
  }
  a{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    margin-bottom: 1.5em;
  }
  img{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  body{
    margin: 0px;
  }

}
*/
